nav {
    background-color: rgb(50, 66, 84);
    height: 170px;
   
    
    
}
a {
    color:  rgb(110, 204, 175);
    text-decoration: none ;
    
    
}
ul{
    color:  rgb(110, 204, 175);
}    

li{
    color: aqua;
}
   
        
