.tarjeta {
    background-color: rgb(50, 66, 84);
    margin: 5px;

}

.dos {
    border: solid 6px rgb(50, 66, 84);

    color: aqua;
    text-align: end;


}

.tres {
    width: 90px;
    height: 70px;
    font-size: x-large;
    color: aqua;
    margin: 0;
    padding: 0;
}